@import "_reset.scss";

//color
$color-headerr: #d3d7e8;
$color-mainr: #f3f2f6;
$color-iconr: #ffe08f;
$color-dialogr: #7a83c1;
$color-fileLoaderr: #dfe1fb;
$color-whiter: #ffffff;
$color-blackr: #002;
$color-page-liner: #7a83c1;
$color-center-liner: #59638a;

//width
$width-img-container: 1322.42px;
$width-img: 268.62px;
$width-dialog: 450px;
$width-dialog-child: 410px;
$width-dialog-option: 200px;
$width-icon: 50px;
$height-icon: 50px;

//padding
$height-space: 8px;
$width-space: 12px;

//font-size
$font-setting: 100px;
$font-option: 100px;
$font-title: 180px;

//font-weight
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;

//border-radius
$border-radius: 5px;

//animation duration
$animation-duration: 300ms;
