/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.fas,
.far {
  pointer-events: none;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

ol,
ul {
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
  position: relative;
  overflow-x: hidden;
}

.header {
  background-color: #d3d7e8;
  height: 92px;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .header {
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    height: 80px;
  }
}

.header-title {
  margin-left: 12px;
  font-family: Rubik Mono One;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

@media screen and (max-width: 1024px) {
  .header-title {
    font-weight: none;
    font-size: 20px;
    line-height: 30px;
  }
}

.buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons .btn {
  width: 50px;
  height: 50px;
  margin-top: 24px;
  margin-left: 12px;
  font-size: 25px;
  cursor: pointer;
  background: #ffffff;
  border: 5px solid #ffe08f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .buttons .btn {
    width: 33.33333px;
    height: 33.33333px;
    margin-top: 16px;
    margin-left: 8px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .buttons .btn {
    border: 3px solid #ffe08f;
  }
}

.buttons .btn:nth-last-child(1) {
  position: absolute;
  right: 0;
  margin-right: 12px;
}

.buttons .btn-move {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buttons .btn-size {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buttons .btn-zoom {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.buttons .activated {
  background: #ffffff;
  border: 5px solid #7c8ac4;
  border-radius: 50%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .buttons .activated {
    border: 3px solid #7c8ac4;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
}

.main .page-container {
  background: rgba(176, 176, 176, 0.069);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420mm;
  min-width: 420mm;
  height: 297mm;
  border: 1px solid #002;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-bottom: 100px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (max-width: 1024px) {
  .main .page-container {
    width: 210mm;
    min-width: 210mm;
    height: 149mm;
    margin-top: 40px;
  }
}

.main .page-container .page-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  width: 50%;
  border-right: 1px dashed #002;
  overflow: hidden;
}

.main .page-container .page-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 50%;
  overflow: hidden;
}

.main .pagination-container {
  position: absolute;
  bottom: 30px;
}

.main .pagination-container span {
  padding: 10.4px 15.6px;
  background-color: #ffffff;
  margin: 0 12px;
  border-radius: 50%;
  cursor: pointer;
}

.main .pagination-container span.current-page {
  background: #ffffff;
  border: 5px solid #ffe08f;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .main .pagination-container span.current-page {
    border: 3px solid #ffe08f;
  }
}

.main .pagination-container button.prev-page::before {
  content: '<';
}

.main .pagination-container button.next-page::after {
  content: '>';
}

.main .pagination-container .prev-page,
.main .pagination-container .next-page {
  cursor: pointer;
  font-size: 20px;
}

.dialog {
  position: absolute;
  width: 30%;
  height: 90%;
  top: 92px;
  right: -30%;
  background-color: #7a83c1;
  border-radius: 20px 0px 0px 20px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 1024px) {
  .dialog {
    width: 35%;
    height: 50%;
    right: -35%;
    top: 80px;
  }
}

.dialog .dialog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 12px;
  padding: 8px 12px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (max-width: 1024px) {
  .dialog .dialog-top {
    margin: 8px 8px;
    padding: 8px 8px;
  }
}

.dialog .dialog-top .title {
  font-size: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .dialog .dialog-top .title {
    font-size: 20px;
  }
}

.dialog .dialog-top .top-buttons {
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dialog .dialog-top .top-buttons .btn-export,
.dialog .dialog-top .top-buttons .btn-close {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .dialog .dialog-top .top-buttons .btn-export,
  .dialog .dialog-top .top-buttons .btn-close {
    width: 33.33333px;
    height: 33.33333px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
}

.dialog .dialog-top .top-buttons .btn-export {
  color: #e97070;
  background: #ffffff;
  border-radius: 50%;
}

.dialog .dialog-top .top-buttons .btn-close {
  background: #dfe1fb;
  border-radius: 50%;
}

.dialog .container {
  padding: 24px;
}

.dialog .container .dialog-fileloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dialog .container .dialog-fileloader input::-webkit-file-upload-button {
  display: none;
}

.dialog .container .dialog-fileloader .upload-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.dialog .container .dialog-fileloader .fileloader-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #dfe1fb;
  border-radius: 5px;
}

.dialog .container .dialog-fileloader .fileloader-buttons .btn-image,
.dialog .container .dialog-fileloader .fileloader-buttons .btn-removeAll {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-fileloader .fileloader-buttons .btn-image,
  .dialog .container .dialog-fileloader .fileloader-buttons .btn-removeAll {
    width: 33.33333px;
    height: 33.33333px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
}

.dialog .container .dialog-fileloader .fileloader-buttons .btn-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .container .dialog-fileloader .urlLists {
  overflow: auto;
  background-color: #ffffff;
  margin-top: 8px;
  border-radius: 5px;
  height: 500px;
  font-size: 20px;
}

.dialog .container .dialog-fileloader .urlLists .btn-remove {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-fileloader .urlLists {
    margin-top: 5.33333px;
    border-radius: 3.33333px;
    height: 200px;
    font-size: 13.33333px;
  }
}

.dialog .container .dialog-fileloader .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px;
  padding: 12px;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-fileloader .list {
    margin: 16px;
    padding: 8px;
  }
}

.dialog .container .dialog-options {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding: 96px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 40px;
  font-size: 23.07692px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-options {
    gap: 21.33333px;
    padding: 48px;
    font-size: 15.38462px;
    margin-top: 26.66667px;
  }
}

.dialog .container .dialog-options .option-title {
  position: absolute;
  font-size: 33px;
  letter-spacing: 3px;
  left: 50%;
  top: -15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #7a83c1;
  padding: 0 12px;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-options .option-title {
    font-size: 22px;
    letter-spacing: 3px / 1.5;
    top: -10px;
    padding: 0 8px;
    font-weight: 400;
  }
}

.dialog .container .dialog-options .imgPerCnt {
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.dialog .container .dialog-options .sort-btns,
.dialog .container .dialog-options .line-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.dialog .container .dialog-options .sort-btns .btn,
.dialog .container .dialog-options .line-btns .btn {
  cursor: pointer;
}

.dialog .container .dialog-options .line-btns {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dialog .container .dialog-start {
  margin-top: 24px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-start {
    margin-top: 16px;
  }
}

.dialog .container .dialog-start .btn-play {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 50px;
  cursor: pointer;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .dialog .container .dialog-start .btn-play {
    width: 66.66667px;
    height: 66.66667px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
  }
}

.dialog--active .dialog {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.image-container {
  display: inline-block;
}

.image-container .image__thumbnail {
  width: 90%;
  position: relative;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin: 0 auto;
}

.moving {
  cursor: move;
}

.sizing {
  cursor: ns-resize;
}

.zooming {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#element {
  margin: auto;
  justify-items: center;
}

#element .page-left {
  width: 210mm;
  height: 297mm;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  overflow: hidden;
  margin: auto;
}

#element .page-right {
  width: 210mm;
  height: 297mm;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */